# providers
credentials_file            = "../xxxxxx.json"
project                     = "xxx"
region                      = "xxx-xxx"

# vpc
vpc_network                 = "xxx-vpc"
vpc_subnet                  = "xxx-subnet"

# gke
gke_node_pool_name          = "xxx-node-pool" 
gke_machine_type            = "e2-medium" 
gke_disk_type               = "pd-standard" 
gke_cluster_ip_range        = "x.x.x.x/x"
gke_services_ip_range       = "x.x.x.x/x"
gke_environment             = "production"
gke_node_locations          = ["xxx-xxx-a", "xxx-xxx-b"]
